<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.erizo.testapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".MainActivity" android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hw1.HomeWork1Activity"  android:parentActivityName=".MainActivity"/>
        <!--noHistory не сохраняет Активити в историю-->
        <activity android:name=".hw2.HomeWork2Activity"  android:parentActivityName=".MainActivity" android:screenOrientation="locked"/>
        <activity android:name=".hw3.HomeWork3Activity" android:screenOrientation="locked"/>
        <activity android:name=".hw4.HomeWork4Activity" android:screenOrientation="locked"/>
        <activity android:name=".hw4.OwlActivity" android:screenOrientation="locked"/>
        <activity android:name=".hw4.ClockActivity" android:screenOrientation="locked"/>
        <activity android:name=".hw5.HomeWork5Activity" android:screenOrientation="locked"/>
        <activity android:name=".hw6.HomeWork6Activity" android:screenOrientation="locked"/>
        <activity android:name=".hw7.HomeWork7Activity" android:screenOrientation="locked"/>
        <activity android:name=".hw8.HomeWork8Activity" android:screenOrientation="locked"/>
        <service android:enabled="true" android:name=".hw5.MyService" />
        <activity android:name=".user.DataBinding"/>

    </application>
</manifest>

